[Parameters]

# Path(s) to the database linelists:
db_list  = ../EXOMOL/TiO/TiO_exomol_toto_0.33-500um_100-3500K_threshold_0.01_lbl.dat

# Path(s) to the partition function files:
part_list = ../EXOMOL/TiO/PF_exomol_TiO.dat

# Type of each input database:
dbtype = repack

# Output TLI filename:
output = ./TiO-ExoMol_0.61-5.5um_test2.tli

# Initial wavelength in microns:
iwav = 0.61

# Final wavelength in microns:
fwav = 5.5

# Verbosity level (0 -- 20):
verb = 10

