[Parameters]

# Path(s) to the database linelists:
db_list  = ../EXOMOL/C2H2/C2H2_exomol_acety_1.0-500.0um_100-3500K_threshold_0.03_lbl.dat

# Path(s) to the partition function files:
part_list = ../EXOMOL/C2H2/PF_exomol_C2H2.dat

# Type of each input database:
dbtype = repack

# Output TLI filename:
output = ./C2H2-ExoMol_0.61-5.5um.tli

# Initial wavelength in microns:
iwav = 0.61

# Final wavelength in microns:
fwav = 5.5

# Verbosity level (0 -- 20):
verb = 10

