[Parameters]

# Path(s) to the database linelists:
db_list  = ../EXOMOL/H2S/H2S_exomol_ayt2_0.28-500.0um_100-3000K_threshold_0.01_lbl.dat

# Path(s) to the partition function files:
part_list = ../EXOMOL/H2S/PF_exomol_H2S.dat

# Type of each input database:
dbtype = repack

# Output TLI filename:
output = ./H2S-ExoMol_0.61-5.5um.tli

# Initial wavelength in microns:
iwav = 0.61

# Final wavelength in microns:
fwav = 5.5

# Verbosity level (0 -- 20):
verb = 10

